{% extends "base.html" %}


{% block head%}
{{ super() }}
<style type="text/css"> 
   li{color: rgba(27, 96, 117, 0.863); 
   font-family:Verdana;
   font-size: 15px;
   } 
   img{
   border: 1px solid rgba(27, 0, 44, 0.301);
   max-width: 200 px;
   max-height: 200 px; 
   }
</style>
{% endblock %}

{% block app_content %}

<div class="background"> </div>

<div class="bg-text">
    <h1>UR Flea Market</h1>
    <p>Everything you need for college =)</p>
</div>

{% for product in products %}
   <div class="col-lg-3 col-md-4 col-xs-6" >
     <div class="thumbnail" height="500px" width="500px">
       <a href="{{ url_for('static', filename='/instance/photos/' + product.photo_name) }}" >
         <!-- <img src=""{{ url_for('static', filename='/instance/photos/' + product.photo_name) }}" style="width:100%"> -->
         <img src="{{ url_for('static', filename='/instance/photos/' + product.photo_name) }}" class="img-thumbnail img-fluid" max-width= "300px"
         height= "20px"/></a>
         <li>
            <!-- <ul>ID:{{ product.id }}</ul> -->
            <ul>Product: {{ product.title }}</ul>
            <ul>Description: {{ product.description }}</ul>
            <ul>Price: ${{ product.price }}</ul> 
         </li>
     </div>
   </div>
{% endfor %}

{% endblock %}
